/* .searchResults {
    border: 3px solid #5580e9;
    border-radius: 10px;
} */

.agentCard {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 0 #5ab8eb;
    transition: all .1s linear;
}

.agentCard:active {
    box-shadow: 0 2px 0 #5ab8eb;
    transform: translateY(3px);
}

.agentCard:last-of-type {
    border: none;
}

.basicDetails ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr .5fr 1fr 1fr;
}

.detailItem.agentCardName {
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 0;
    color: #5580e9;
}

.detailItem.agentOffice {
    grid-column: 1/3;
    grid-row: 2/3;
    margin-top: 0;
}

.detailItem, .follow {
    margin: 5px 0;
    align-self: center;
}

.detailTitle {
    display: block;
    font-weight: bold;
    color: #8A66D9;
}

.follow {
    width: 80%;
    margin: 7px auto;
    padding: 5px;
    text-align: center;
}