.container.hero, .container.cta {
  width: 100%;
  padding: 15px 15%;
}

.heroTitle, .heroValue {
  margin-bottom: 30px;
}

.heroTitle {
  font-size: 1.75rem;
  color: #84CEEB;
}

.heroValue {
  line-height: 1.6rem;
  color: #fff;
}

.instructions {
  width: fit-content;
  margin: 30px auto 10px;
  padding: 0px 20px;
}

.disclaimer {
  color: rgb(49, 49, 49);
  font-size: .8rem;
}

.disclaimer span {
  font-weight: bold;
}

.instructions h2 {
  margin: 40px auto 20px;
  color: #84CEEB;
}

.instructions ol li {
  margin-bottom: 20px;
  list-style: none inside;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  padding-left: 1rem;
  text-indent: -1rem;
}

.container.valuePitch {
  max-width: 80%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
  justify-content: center;
  align-content: center;
  margin: 15px auto;
  padding: 20px 0;
  /* border: 3px solid #5580e9;
  border-radius: 10px; */
}

.valueContainer {
  grid-row: auto;
  margin:  20px 20px 0px;
  padding: 20px 15px;
  border-bottom: 2px solid #5580E9;
  color: #fff;
  /* border-radius: 10px; */
}

.valueContainer:last-of-type {
  border: none;
}

.valueImage {
  display: block;
  margin: 10px auto 30px;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.valueTitle {
  color: #84CEEB;
}

.valueContent p {
  font-size: 1.25rem;
  font-weight: 700;
}

/* Responsive Mobile Styling */

@media screen and (min-width: 480px) {
  
}

@media screen and (min-width: 675px) {
  
}

@media screen and (min-width: 750px) {
  .valueImage {
    width: 400px;
    height: 400px;
  }
}

@media screen and (min-width: 1015px) {
  .container.valuePitch {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .valueContainer {
    border: none;
  }

  .valueImage {
    width: 175px;
    height: 175px;
  }
}

@media screen and (min-width: 1225px) {
  .container.hero{
    text-align: center;
  }

  .container.hero ol{
    text-align: left;
    padding: 0 100px;
  }

  .valueImage {
    width: 250px;
    height: 250px;
  }
}

@media screen and (min-width: 1360px) {

}