.container.hero {
  width: 100%;
  padding: 15px 15%;
}

.container.valuePitch {
  max-width: 80%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
  justify-content: center;
  align-content: center;
  margin: 15px auto;
  padding: 20px 0;
  /* border: 3px solid #5580e9;
  border-radius: 10px; */
}

.valueContainer {
  grid-row: auto;
  margin:  20px 20px 0px;
  padding: 20px 15px;
  border-bottom: 2px solid #5580E9;
  /* border-radius: 10px; */
}

.valueContainer:last-of-type {
  border: none;
}

.valueTitle {
  color: #84CEEB;
}