.noteList {
    width: 80%;
    margin: 0 auto;
}

/* Responsive Mobile Styling */

@media screen and (min-width: 480px) {

}

@media screen and (min-width: 675px) {
    .container.notes {
        width: 85%;
    }

    .container.notes .container, .container.notes .noteList {
        width: 90%;
    }
}

@media screen and (min-width: 750px) {

}

@media screen and (min-width: 1015px) {

}

@media screen and (min-width: 1225px) {
    .container.notes {
        margin-right:100px;
    }

    .container.followUp, .container.notes {
        padding: 10px;
    }

    .container.notification {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .notMobile {
        display: none;
    }
}

@media screen and (min-width: 1360px) {
    .container.notes {
        margin-right:125px;
    }
}