.noteCard {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 10px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border: 3px solid #5AB8EB;
  border-radius: 10px;
  color: rgb(67, 67, 67);
}

.noteCard .noteTitle, .noteCard .noteDate {
  color: #8A66D9;
}

.noteDate {
  font-size: .9rem;
}

.noteContent {
  padding: 5px 5px 5px 20px;
  line-height: 1.25rem;
}